$transition-brand: 250ms cubic-bezier(0.4, 0, 0.2, 1);
$brand-color: #2196f3;
$item-gray: #757575;

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: $item-gray;
}

.container {
  box-sizing: border-box;
  width: 1200px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding: 94px 0px;
}
.links {
  text-decoration: none;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.02em;
  transition: $transition-brand;
  &:hover,
  &:focus {
    color: $brand-color;
    fill: $brand-color;
  }
}

.not-dot {
  list-style-type: none;
}
.invade {
  transition: $transition-brand;
}