$header-border-color: #ececec;
$item-gray: #757575;
$brand-color: #2196f3;
$brand-article-color: #212121;
$site-fonts-roboto: "Roboto", sans-serif;

@media screen and (max-width: 480px) {
  .background-header {
    border-bottom: 1px solid $header-border-color;
    height: 60px;
    width: 100%;
  }
  .header-flex {
    display: flex;
    box-sizing: border-box;
    height: 60px;
    width: 100vw;
    align-items: center;
    justify-content: space-between;
    &__nav-element {
      display: flex;
      align-items: center;
      list-style-type:none;

      &--links-web {
        fill: $item-gray;
        display: flex;
        align-items: center;

        &:nth-child(n + 2) {
          display: none;
        }
        &:nth-child(1) {
          margin-right: 0px;
        }
      }
      &--links-contact {
        display: none;
      }
      &--mobile-menu {
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        fill: $brand-article-color;
      }
    }
  }
}
